{% if inventory is defined %}
{% for file in inventory %}
{% if file.secret_ref is defined %}
                - name: {{ file.secret_ref.name }}-inventory-secret
                  mountPath: {{ ansible_config_volume }}/secret-inventory
{% endif %}
{% if file.config_map_ref.name is defined %}
                - name: {{ file.config_map_ref.name }}-inventory
                  mountPath: {{ ansible_config_volume }}/inventory
{% endif %}
{% endfor %}
{% endif %}
