{% if ssh_keys is defined %}
{% for key in ssh_keys %}
                - name: {{ key.name }}
                  mountPath: {{ ansible_user_home }}/keys/{{ key.name }}
{% if key.config.config_map_ref.name is defined %}
                - name: {{ key.name }}-config
                  mountPath: {{ ansible_user_home }}/keys/{{ key.name }}/config
{% endif %}
{% if key.config.secret_ref.name is defined %}
                - name: {{ key.name }}-secret-config
                  mountPath: {{ ansible_user_home }}/keys/{{ key.name }}/secret-config
{% endif %}
{% endfor %}
{% endif %}
