{% if vault_password is defined %}
            - name: vault-password
              mountPath: {{ ansible_config_volume }}/vault.pass
              subPath: vault.pass
{% elif vault_password_secret is defined %}
            - name: vault-password
              mountPath: {{ ansible_config_volume }}/vault.pass
              subPath: vault.pass
{% endif %}
