{% if vault_password_secret is defined %}
            - name: vault-password
              mountPath: {{ ansible_config_volume }}/vault
{% elif vault_password is defined %}
            - name: vault-password
              mountPath: {{ ansible_config_volume }}/vault
{% endif %}
