{% if playbook.git.repo is defined %}
            - name: config
              configMap:
                name: {{ ansible_operator_meta.name }}-config
{% elif playbook.secret_ref is defined %}
            - name: playbook
              secret:
                secretName: {{ playbook.secret_ref.name }}
{% elif playbook.config_map_ref is defined %}
            - name: playbook
              configMap:
                name: {{ playbook.config_map_ref.name }}
{% endif %}
