---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ ansible_operator_meta.name }}-requirements
  namespace: {{ ansible_operator_meta.namespace }}
data:
  requirements.yaml: |
    ---
{% if roles is defined %}
    roles:
      {{ roles | to_nice_yaml | indent(width=6, first=False) }}
{% endif %}
{% if collections is defined %}
    collections:
      {{ collections | to_nice_yaml | indent(width=6, first=False) }}
{% endif %}
