---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ansible_operator_meta.name }}-vault 
  namespace: "{{ ansible_operator_meta.namespace }}"
type: Opaque
stringData:
  vault.pass: "{{ vault_password }}"
