---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ ansible_operator_meta.name }}-config
  namespace: {{ ansible_operator_meta.namespace }}
data:
  config.yaml: |
    git_repo: {{ playbook.git.repo }}
    git_repo_path: {{ playbook.git.repo_path | default('/') }}
    git_playbook_name: {{ playbook.git.playbook_name | default('playbook.yaml') }}
{% if playbook.git.requirements_name is defined %}
    git_requirements_name: {{ playbook.git.requirements_name }}
{% endif %}
    git_repo_branch: {{ playbook.git.repo_branch | default('master') }}
