{% if vault_password is defined %}
        - name: vault-password
          secret:
            secretName: "{{ ansible_operator_meta.name }}-vault"
{% elif vault_password_secret is defined %}
        - name: vault-password
          secret:
            secretName: {{ vault_password_secret[0].secret_ref.name }}
{% endif %}
