{% if vault_password_secret is defined %}
        - name: vault-password
          secret:
            secretName: {{ vault_password_secret.secret_ref.name }}
{% elif vault_password is defined %}
        - name: vault-password
          secret:
            secretName: "{{ ansible_operator_meta.name }}-vault"
{% endif %}
