---
kind: CronJob
apiVersion: batch/v1
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  schedule: "{{ schedule }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: ansible-cronjob
              image: quay.io/operator-framework/ansible-operator:v1.23.0
              imagePullPolicy: IfNotPresent
              command:
                - /bin/sh
                - -c
                - |
{% if roles is defined %}
                  ansible-galaxy role install -r {{ ansible_config_volume }}/requirements.yaml
{% endif %}
{% if collections is defined %}
                  ansible-galaxy collection install -r {{ ansible_config_volume }}/requirements.yaml
{% endif %}
                  ls {{ ansible_user_home }}/.ssh
              volumeMounts:
{% if roles is defined or collections is defined %}
                - name: requirements
                  mountPath: {{ ansible_config_volume }}/requirements.yaml
                  subPath: requirements.yaml
{% endif %}
{% if vault_password is defined %}
                - name: vault-password
                  mountPath: {{ ansible_config_volume }}/vault.pass
                  subPath: vault.pass
{% elif vault_password_secret is defined %}
                - name: vault-password
                  mountPath: {{ ansible_config_volume }}/vault.pass
                  subPath: vault.pass
{% endif %}
{% if ssh_keys is defined %}
{% for key in keys_list %}
                - name: {{ key }}
                  mountPath: {{ ansible_user_home }}/.ssh/{{ key }}
                  subPath: {{ key }}
{% endfor %}
{% elif ssh_keys_secrets is defined %}
{% for key in ssh_keys_secrets %}
                - name: {{ key.secret_ref.name }}
                  mountPath: {{ ansible_user_home }}/.ssh/{{ key }}
                  subPath: {{ key.secret_ref.name }}
{% endfor %}
{% endif %}
          volumes:
{% if roles is defined or collections is defined %}
            - name: requirements
              configMap:
                name: "{{ ansible_operator_meta.name }}-requirements"
{% endif %}
{% if vault_password is defined %}
            - name: vault-password
              secret:
                secretName: "{{ ansible_operator_meta.name }}-vault"
{% elif vault_password_secret is defined %}
            - name: vault-password
              secret:
                secretName: {{ vault_password_secret[0].secret_ref.name }}
{% endif %}
{% if ssh_keys is defined %}
{% for key in keys_list %}
            - name: {{ key }}
              secret:
                secretName: {{ key }}
{% endfor %}
{% elif ssh_keys_secrets is defined %}
{% for key in ssh_keys_secrets %}
            - name: {{ key.secret_ref.name }}
              secret:
                secretName: {{ key.secret_ref.name }}
{% endfor %}
{% endif %}
          restartPolicy: OnFailure
