---
kind: CronJob
apiVersion: batch/v1
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  schedule: "{{ schedule }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: ansible-cronjob
              image: c-harbor.casa-delle-coccinelle.link/operator/ansible-executor:v0.1.0
              imagePullPolicy: Always
              securityContext:
                runAsUser: 1000
                runAsGroup: 1000
                fsGroup: 1000
              command:
                - /bin/bash
                - -c
                - |
                  bash {{ ansible_user_home }}/start.sh
              env:
                - name: ANSIBLE_EXECUTOR_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: ANSIBLE_EXECUTOR_NAME
                  value: "{{ ansible_operator_meta.name }}"
              volumeMounts:
{% include './templates/volume_mounts/requirements.j2' %}
{% include './templates/volume_mounts/vault_password.j2' %}
{% include './templates/volume_mounts/ssh_keys.j2' %}
{% include './templates/volume_mounts/inventory.j2' %}
{% include './templates/volume_mounts/playbook.j2' %}
{% include './templates/volume_mounts/vars.j2' %}
{% include './templates/volume_mounts/options.j2' %}
          volumes:
{% include './templates/volumes/requirements.j2' %}
{% include './templates/volumes/vault_password.j2' %}
{% include './templates/volumes/ssh_keys.j2' %}
{% include './templates/volumes/inventory.j2' %}
{% include './templates/volumes/playbook.j2' %}
{% include './templates/volumes/vars.j2' %}
{% include './templates/volumes/options.j2' %}
          restartPolicy: OnFailure
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
